.navbar {
  background: radial-gradient(
    99.41% 10222.97% at 0% 50%,
    #ff5959 17.71%,
    #fd9359 41.67%,
    #fcac5a 66.41%,
    #facf5a 100%
  );
  &__title {
    font-size: 2.2rem;
    @include fuente($fuente-titulo);
  }
  &__items {
    a {
      margin: 0 15px;
      color: white;
      font-size: 2.2rem;
      @include fuente($fuente-titulo);
    }
    a:hover {
      text-decoration: underline;
    }
  }
}
